<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308756769683-pce7qpvphe0d178h6fu8logda8t6anlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308756769683-pce7qpvphe0d178h6fu8logda8t6anlt</string>
	<key>API_KEY</key>
	<string>AIzaSyD49b73Pk8ILDSnB7b6GmcPCOjywWhFrUI</string>
	<key>GCM_SENDER_ID</key>
	<string>308756769683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petdot.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>petdot-fc57e</string>
	<key>STORAGE_BUCKET</key>
	<string>petdot-fc57e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308756769683:ios:6fbdb87071a3d852c19666</string>
</dict>
</plist>